/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/*
 ***************************************************
                          Portrait
 ***************************************************
 */
:root {
   --clr-yellow-1: #ffd02b;
   --clr-yellow-2: #ffc300;
   --clr-gray-1: #646e77;
   /*--clr-blue-1: #33475b;*/
   --clr-blue-1: rgba(51, 71, 91);
   --clr-blue-1-shadow: rgba(51, 71, 91, 0.25);
   --clr-white-1: #fff;
   --clr-white-2: #f5f8fa;
   --main-font: 'Poppins', sans-serif; 
   --secondary-family: 'Nunito', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--main-font);
    color: var(--clr-blue-1);
}
html,
body {
    width: 100%;
    user-select: none;
}
/*
 * Tag's
 */
h2 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 1em 0;
}
h4 {
    font-weight: 600;
    font-size: 1em;
}
/*
 * Address
 */
.hr-addr {
    font-style: normal;
    font-size: 0.75em;
    color: var(--clr-white-1);
    background-color: var(--clr-blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr-addr > a,
.hr-addr > span {
    color: inherit;
    margin-left: 0.2em;
    text-transform: capitalize;
}
/* 
 * Header 
 */
header {
    width: 100%;
    background-color: var(--clr-white-1);
}
header > nav {
    margin: 0 auto;
    max-width: 90%;
    height: 4.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 10px var(--clr-blue-1-shadow);
}
.menu-icon {
    font-size: 2.5em;
    font-weight: 500;
}
.nav-list {
    text-transform: capitalize;
    display: flex;
    gap: 0.5rem;
    display: none;
}
.btn-app {
    background-color: var(--clr-yellow-1);
    font-weight: 600;
    padding: 0.3em 1.0625em;
    border-radius: 0.2em;
    text-transform: lowercase;
}
.btn-app:hover {
    box-shadow: 2px 2px 2px var(--clr-blue-1-shadow);
}

/*
 * Mobile menu
 */
.mobile-menu {
    width: 100%;
    height: 100svh;
    background-color: var(--clr-white-1);
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: -100vw;
}
.show-menu {
    left: 0;
}
.mobile-menu-header {
    padding: 1rem;
    max-width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.mobile-menu-list {
    text-transform: capitalize;
    margin-left: 1.5rem;
}
.mobile-menu-list span.bxs-down-arrow {
    vertical-align: baseline;
    font-size: 0.75em;
}
.nav-border-line {
    width: 40%;
    border: 1px solid var(--clr-yellow-1);
    display: inline-block;
    margin: 1em 0;
}
/* Main */
main {
    width: 100%;
    height: auto;
}
 /*
  * Logo SVG
  */
.logo-symbol-svg {
    width: 3.375rem;
    height: 3.375rem;
    /*
    fill: red;
    color: red;
    */
}
.logo-path {
    fill:#ffd02b;
    fill-opacity:1;
    stroke-width:1.00002;
    stroke-dasharray:none;
}
.logo-path-shadow {
     fill:#33475b;
     fill-opacity:1;
     stroke-width:1.00002149;
     stroke-dasharray:none;
}
/*
 * Section Hero
 */
.hero {
    background-color: var(--clr-yellow-1);
}
.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-box .hero-item:nth-child(1) {
    max-width: 90%;
    margin-top: 1rem;
}
.hero-box .hero-item:nth-child(n-1) {
    width: 90%;
}
.hero-box .hero-item:nth-child(n) {
    margin-bottom: 1.5em;
}
.hero-item > h1 {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 120%;
    text-transform: capitalize;
}
.hero-item > h1 > span {
    color: var(--clr-white-1);
}
.price-descrip {
    margin-bottom: 1rem;
}
.price-descrip li > span {
    text-transform: uppercase;
}
.price-descrip ol li::marker {
    content: "✓ ";
    color: var(--clr-white-1);
}
.price-descrip ol li {
    font-weight: 600;
    text-transform: capitalize;
    list-style-position: inside;
}
.purchase-btns [class^="btn-"]:nth-child(1) {
    margin-bottom: 1rem;
}
a.btn-quote {
    font: 700 1.5em var(--secondary-family);
    display: block;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3px;
    border: 3px solid var(--clr-white-1);
    color: var(--clr-yellow-1);
    background-color: var(--clr-white-1);
    padding: 0.3em 0;
}
/*
.text-1 {
font-style:normal;
font-variant:normal;
font-stretch:normal;
font-size:4.93889px;
font-family:Nunito;
-inkscape-font-specification:'Nunito, Semi-Bold';
font-variant-ligatures:normal;
font-variant-caps:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
fill:#33475b;
fill-opacity:1;
stroke-width:.264583;
font-size:4.93889px;
font-weight:600;
font-size: 0.308680625rem;
}
*/
/*
.text-1 > tspan {
font-style:normal;
font-variant:normal;
font-stretch:normal;
-inkscape-font-specification:'Nunito, Semi-Bold';
font-variant-ligatures:normal;
font-variant-caps:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:600;
font-size:4.93889px;
fill:#33475b;
fill-opacity:1;
stroke-width:.264583;
}
*/
/*
.text-2 {
font-style:normal;
font-variant:normal;
font-stretch:normal;
font-family:Nunito;
-inkscape-font-specification:'Nunito, Heavy';
font-variant-ligatures:normal;
font-variant-caps:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
stroke-width:.264583;
fill:#33475b;
fill-opacity:1;
font-size:1.5875rem;
font-weight:900;
}
*/
/*
.text-3 {
font-style:normal;
font-variant:normal;
font-stretch:normal;
-inkscape-font-specification:'Nunito, Semi-Bold';
font-variant-ligatures:normal;
font-variant-caps:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
stroke-width:.264583
fill:#33475b;
fill-opacity:1;
font-size:0.308680625rem;
font-weight:600;
}
*/
/*
.text-4 {
font-style:normal;
font-variant:normal;
font-stretch:normal;
font-size:16.9333px;
font-variant-ligatures:normal;
font-variant-numeric: normal;
font-variant-east-asian:normal;
stroke-width:.264583;
fill:#33475b;
fill-opacity:1;
font-variant-caps: unicase;
font-weight: 600;
font-size: 1.05833125rem;
}
*/
[class^="text-"]:nth-child(2n+1) {
    font-weight:600;
    font-size: 0.308680625rem;
}
[class^="text-"]:nth-child(2) {
    font-size:1.5875rem;
    font-weight:900;
}
[class^="text-"]:nth-last-child(1) {
    font-variant-caps: unicase;
    font-weight: 600;
    font-size: 1.05833125rem;
}
[class^="text-"] > tspan {
    fill: var(--clr-white-1);
    font-family: var(--secondary-family);
}

/*
 * Section main
 */
.main {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white-2);
}
.main > [class^="main-"] {
    margin-bottom: 1.625em;
}
.main-title {
    background-color: var(--clr-white-1);
}
.main-title > h2 {
    text-align: center;
}
.main-title > h2::first-letter {
    text-transform: uppercase;
}
.main-title > h2 span {
    color: var(--clr-yellow-1);
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}
[class^="card-"] {
    background-color: var(--clr-white-1);
    text-transform: capitalize;
    text-align: center;
    width: 90%;
}
/*
 * section contact
 */
.contact {
    background-color: var(--clr-yellow-1);
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    */
}
/*
.contact section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
.contact h2 {
    font-size: 2.25em;
    color: var(--clr-white-1);
    text-transform: capitalize;
}
.contact section:first-child :nth-child(1n+2) {
    display: none;
}
.contact section:nth-child(2) {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
}
.btn-content {
    width: 100%;
}
/*div:has(.btn-white),*/
.purchase-btns,
.formulary {
   max-width: 100%;
   margin-bottom: 1.5em;
}
a.btn-white {
    color: var(--clr-white-1);
    font: 700 1.5em var(--secondary-family);
    text-transform: capitalize;
    text-align: center;
    border-radius: 3px;
    border: 3px solid var(--clr-white-1);
    display: block;
    padding: 0.3em 0;
}
a.btn-white:hover {
    background-color: var(--clr-white-1);
    color: var(--clr-yellow-1);
}
a > span.bxl-whatsapp {
    color: inherit;
    font-size: 1.5em;
    vertical-align: middle;
}
.contact label {
    text-transform: capitalize;
}
input[type="text"],
textarea {
    border: 1.5px solid var(--clr-white-1);
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    background-color: var(--clr-white-1);
    border: 1px solid var(--clr-blue-1-shadow);
    color: var(--clr-blue-1);
}
/*
 * section about
 */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-white-1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.about > div {
    max-width: 90%;
    text-align: center;
}
.about h2 {
    text-transform: uppercase;
}
.about p span:first-of-type {
    font-weight: 700;
    text-transform: capitalize;
}
/*
 * footer
 */
footer {
    background-color: var(--clr-white-2);
}
.fbox {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}
.f-1 {
    order: 3;
    flex-grow: 2;
}
[class^="f-"]:nth-child(1n+2) {
    flex-grow: 1;
    text-transform: capitalize;
}
.fbox > [class^="f-"] {
    text-align: center;
}
.fbox > [class^="f-"] li a:hover {
    opacity: 0.5;
}

/*
 ***************************************************
                          Landscape
 ***************************************************
 */
/*
@media (min-width: 48rem) {
    .hero-item > h1 {
        font-size: 3.5em;
    }
    .price-box > div:nth-child(1n) {
        font-size: 1.8em;
    }
    a.btn-white,
    a.btn-quote {
        border-width: 5px;
        font-size: 2.5em;
    }
    h2 {
        font-size: 2.5em;
    }
    h4 {
        font-size: 2em;
    }
    .contact h2 {
        font-size: 3.5em;
    }
}
*/
/*
 ***************************************************
                          Desktop
 ***************************************************
 */
/*
 * viewport > 992px
 */
@media (min-width: 62rem){
    /*
    body {
        width: 100%;
        max-width: 1713px;
        margin: 0 auto;
    }
    */
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    header > nav {
        gap: 0.5em;
    }
    .nav-list {
        display: flex;
        order: 2;
        margin-left: auto;
    }
    .menu-icon {
        display: none;
    }
    .logo {
        order: 1;
    }
    .btn-app {
        order: 3;
    }
    .nav-list li {
        margin-right: 1em;
    }
    .nav-list li a:hover {
        color: var(--clr-blue-1-shadow);
    }
    /*
     * hero
     */
     .hero {
         background-image: url("./public//image/hero-bg.png");
         background-image: image-set(
         "./public/image/hero-bg.avif" type("image/avif"),
         "./public/image/hero-bg.webp" type("image/webp")
         );
     }
     .hero-box {
         /*
         max-width: 1200px;
         margin: 0 auto;
         */
         padding: 1em 0;
         flex-direction: row;
         gap: 1em;
     }
    .hero-box .hero-item:nth-child(n-1) {
        width: 90%;
    }
    .hero-item > h1 > span {
        color: var(--clr-yellow-1);
    }
    .price-descrip ol li::marker {
        color: var(--clr-yellow-1);
    }
    .hero-item > h1 {
        font-size: 4.0625em;
        font-size: 3.125em;
        line-height: 120%;
        text-transform: capitalize;
    }
    [class^="text-"] > tspan {
        fill: var(--clr-yellow-1);
    }
    .hero-box .hero-item:last-child {
        background-color: var(--clr-white-1);
        padding: 6em 12em;
        box-shadow: 0px 1px 5px var(--clr-blue-1-shadow);
    }
    .price-box {
        margin-bottom: 1.5em;
    }
    .purchase-btns [class^="btn-"] {
        border: 3px solid var(--clr-yellow-1);
    }
    .purchase-btns [class^="btn-"]:first-child {
        color: var(--clr-yellow-1);
    }
    .purchase-btns [class^="btn-"]:last-child {
        color: var(--clr-white-1);
        background-color: var(--clr-yellow-1);
    }
    .main-title > h2 {
        font-size: 2em;
    }
    /*
     * main-cards
     */
    .box {
        flex-direction: row;
        justify-content: center;
    }
    .contact section:first-child :nth-child(1n+2) {
        display: inline-block;
    }
    .contact section:first-child > p {
        margin-bottom: 1.5em;
    }
    .contact section:first-child > p span {
        color: var(--clr-white-1);
        font-weight: 500;
    }
    .contact section:nth-child(2) {
        background-color: var(--clr-white-1);
        width: auto;
        padding: 4em 5em;
        box-shadow: 0px 1px 5px var(--clr-blue-1-shadow);
        margin: 2em 0;
    }
    /*
     * About
    */
    .about > div {
        width: 1200px;
        border: 3px solid var(--clr-yellow-1);
        padding: 2em 4em 5em;
    }
    .about h2 {
        font-size: 2em;
    }
    /* 
     * footer
     */
     .fbox {
         width: 1200px;
         margin: 0 auto;
     }
     .f-1 { 
         order: 0;
     }
}
